{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        {% if not loggedIn %}
            <div class="alert alert-danger messagebox center">
                <strong>Authorization Required</strong>
                <p>
                    You must be <a href="/login">logged in</a> to view this page.
                </p>
            </div>
        {% else %}
            <h3>Profile</h3>
            {% if profileError %}
                <div class="alert alert-danger messagebox center">
                    <strong>Profile Error</strong>
                    <p>{{ profileError }}</p>
                </div>
            {% endif %}
            
            <div class="profile-box linewrap" style="position: inherit; z-index: auto;">
                <img src="{{ profileImage }}" class="profile-image" />
                <strong>{{ loginName }}</strong>
                <p>{{ profileText }}</p>
            </div>
            
            <h3>Edit Profile</h3>
            <form method="post" action="/account/profile" role="form">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="form-group">
                    <label for="profileimage">Image</label>
                    <input type="text" name="image" id="profileimage" class="form-control" value="{{ profileImage }}" />
                </div>
                <div class="form-group">
                    <label for="profiletext">Text</label>
                    <textarea id="profiletext" class="form-control" cols="10" name="text">{{ profileText }}</textarea>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Save</button>
            </form>
        {% endif %}
    </div>
{% endblock %}