{% import "alerts.html.twig" as alerts %}
{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        {% if not loggedIn %}
            {{ alerts.danger("Authorization Required", "You must be logged in to view this page.") }}
        {% else %}
            <h3>Profile</h3>
            
            <form method="post" action="/account/profile" role="form">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="form-group">
                    <label for="profileimage">Avatar Image</label>
                    <input type="text" name="image" id="profileimage" class="form-control" value="{{ profileImage }}" />
                    <p class="text-muted">
                        Displayed on your profile and when users hover over your username in chat.
                    </p>
                </div>
                <div class="form-group">
                    <label for="profiletext">Tagline</label>
                    <input id="profiletext" class="form-control" name="text" maxlength="50" value="{{ profileText }}" />
                    <p class="text-muted">
                        Displayed on your profile and when users hover over your username in chat.
                    </p>
                </div>
                <div class="form-group">
                    <label for="profilebio">Biography</label>
                    <textarea id="profilebio" class="form-control" name="bio">{{ profileBio }}</textarea>
                    <p class="text-muted">
                        Displayed on your profile.
                    </p>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Save</button>
            </form>
        {% endif %}
    </div>
{% endblock %}