{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-lg-9 col-md-9">
        <h3 style="color: #FFF;">Let's Get Naked!</h3>
        <p>
            We're fans of world pop music who can usually be found on this site and on reddit sharing our favorite
            songs. K-Pop, J-Pop, C-Pop, Hip-Hop, R&B, Metal, EDM, and much more.
        </p>
        <p style="padding-top: 10px;">
            <a href="https://twitter.com/pienudes" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @pienudes</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>
        <h3 style="color: #FFF;">Join a Channel</h3>
        <p>
            Channels are where we share music and chat. No registration required!
        </p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Channel</th>
                    <th># Users</th>
                    <th>Now Playing</th>
                </tr>
            </thead>
            <tbody>
                {% for chan in channels %}
                    <tr>
                        <td>
                            <a href="/r/{{ chan.name }}">{{ chan.pagetitle }} ({{ chan.name }})</a>
                        </td>
                        <td>
                            {{ chan.usercount }}
                        </td>
                        <td>
                            {{ chan.mediatitle }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="col-lg-3 col-md-3">
        <h3 style="color: #FFF;">Enter Channel</h3>
        <input id="channelname" class="form-control" type="text" placeholder="Channel Name" />
        <p>
            New channels can be registered from the <a href="/account/channels">My Channels</a> page.
        </p>
        
        <img src="https://s3.amazonaws.com/images.pienudes.com/sidebarimg.jpg" style="width: 100%; margin-top: 10px;" />
        
        <h3 style="color: #FFF;">Most Played</h3>
        <ul class="sidebar-list">
            {% for m in top_media %}
                <li>{{ m.title|truncate(60) }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}