{% import "macros/links.html.twig" as links %}
{% extends "layout_home.html.twig" %}
{% block content %}
    <div class="col-lg-8 col-md-8">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="sidebar-widget-title">Music Channels</h3>
                <p>Click to join a channel.</p>
            </div>
            {% for chan in channels %}
                <div class="col-xs-12 col-sm-6 col-md-4 thumbnail-channel">
                    <a href="/r/{{ chan.name }}" class="thumbnail card">
                        <img src="{{ chan.thumbnail }}" alt="Thumbnail">

                        <div class="thumbnail-channel-title center">
                            {{ chan.pagetitle|truncate(25) }}
                        </div>
                        <div class="thumbnail-channel-playing center">
                            {{ chan.mediatitle|truncate(75) }}
                        </div>
                        <div class="thumbnail-channel-users">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ chan.usercount }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <h3 class="sidebar-widget-title">Most Played in Lobby</h3>
            </div>
            {% for video in most_watched.lobby %}
                <div class="col-xs-12 col-sm-6 col-md-4 thumbnail-channel">
                    <a href="/r/lobby" class="thumbnail thumbnail-short card">
                        <img src="{{ video|thumbnail_url("hqdefault") }}" alt="Thumbnail">
                        <div class="thumbnail-channel-playing center">
                            {{ video.title|truncate(75) }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <h3 class="sidebar-widget-title">Most Played in K-Pop</h3>
            </div>
            {% for video in most_watched.kpop %}
                <div class="col-xs-12 col-sm-6 col-md-4 thumbnail-channel">
                    <a href="/r/kpop" class="thumbnail thumbnail-short card">
                        <img src="{{ video|thumbnail_url("hqdefault") }}" alt="Thumbnail">
                        <div class="thumbnail-channel-playing center">
                            {{ video.title|truncate(75) }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div id="homepage-sidebar" class="col-lg-4 col-md-4">

        <div class="sidebar-widget-empty">
            <h3 class="sidebar-widget-title">
                <a href="/charts/history">Recently Played</a>
            </h3>
            <ul class="sidebar-list">
                {% for m in recent_media %}
                    <div class="card card-media">
                        {{ links.thumbnail(m, "card-media-thumbnail") }}
                        {{ links.media(m, "card-media-title smaller") }}
                        <div class="card-play-count">
                            {{ m.play_count }} plays
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>

        {% if top_media|length > 0 %}
            <div class="sidebar-widget-empty">
                <h3 class="sidebar-widget-title">
                    <a href="/charts/top/date/{{ today }}">Most Played Today</a>
                </h3>
                <ul class="sidebar-list">
                    {% for m in top_media %}
                        <div class="card card-media">
                            {{ links.thumbnail(m, "card-media-thumbnail") }}
                            {{ links.media(m, "card-media-title smaller") }}
                            <div class="card-play-count">
                                {{ m.play_count }} plays
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if voted_rows|length > 0 %}
            <div class="sidebar-widget-empty">
                <h3 class="sidebar-widget-title">
                    <a href="/charts/upvoted/date/{{ today }}">Most Upvoted Today</a>
                </h3>
                <ul class="sidebar-list">
                    {% for m in voted_rows %}
                        <div class="card card-media">
                            {{ links.thumbnail(m, "card-media-thumbnail") }}
                            {{ links.media(m, "card-media-title smaller") }}
                            {% if m.user %}
                                <div class="card-media-common">
                                    <a href="/user/{{ m.user }}">{{ m.user }}</a>
                                </div>
                            {% endif %}
                            <div class="card-play-count">
                                {{ m.play_count }} plays &middot; {{ m.vote_count|comma }} votes
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="sidebar-widget">
            <h3>Notable Quotes</h3>
            <ul class="sidebar-list">
                <li>
                    JacobDicky: if i wa s lockm smtih, hw eaxtaly wwpuld i make the ke to ouru heeat?
                </li>
                <li>
                    SalmonBaconator: i just always pictured Toto as like a black Freddie Mercury
                </li>
            </ul>
        </div>
    </div>
{% endblock %}