{% import "macros/links.html.twig" as links %}
{% extends "layout_home.html.twig" %}
{% block content %}
    <div class="col-lg-8 col-md-8">
        <h3 style="color: #FFF; margin-top:0;margin-bottom: 4px;">UPNEXT.FM</h3>
        <p>
            upnext.fm is a live chat and music site. Join a chat channel, add some songs to the playlist, and chill
            with your new friends. K-Pop, Hip-Hop, R&amp;B, Metal, EDM, Rock, and much more.
        </p>
        <p style="padding-top: 10px;">
            <a href="https://twitter.com/upnextmusic" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @upnextmusic</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>
        <h3 style="color: #FFF;margin-bottom: 4px;">Chat Channels</h3>
        <p>
            Join a channel and start sharing some songs. No sign in or registration required.
        </p>
        <div class="row">
            {% for chan in channels %}
                <div class="col-xs-12 col-sm-6 col-md-4 thumbnail-channel">
                    <a href="/r/{{ chan.name }}" class="thumbnail card">
                        <img src="{{ chan.thumbnail }}" alt="Thumbnail">
                        <div class="thumbnail-channel-users">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ chan.usercount }}
                        </div>
                        <div class="thumbnail-channel-title center">
                            {{ chan.pagetitle|truncate(25) }}
                        </div>
                        <div class="thumbnail-channel-playing center">
                            {{ chan.mediatitle|truncate(75) }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div id="homepage-sidebar" class="col-lg-4 col-md-4">

        {#
        <div class="sidebar-widget">
            <h3>Enter Channel</h3>
            <input id="channelname" class="form-control" type="text" placeholder="Channel Name" />
            <p style="margin: 6px 0 0 0;">
                New channels can be registered from the <a href="/account/channels">My Channels</a> page.
            </p>
        </div>
        #}

        <div class="sidebar-widget-empty">
            <h3 class="sidebar-widget-title">
                <a href="/charts/history">Recently Played</a>
            </h3>
            <ul class="sidebar-list">
                {% for m in recent_media %}
                    <div class="card card-media">
                        <div class="card-media-time">
                            {{ m.time|fromNow }}{% if m.channel %}<br /><a href="/r/{{ m.channel }}">/r/{{ m.channel }}</a>{% endif %}
                        </div>
                        {{ links.thumbnail(m, "card-media-thumbnail") }}
                        {{ links.media(m, "card-media-title smaller") }}
                    </div>
                {% endfor %}
            </ul>
        </div>

        {% if voted_rows|length > 0 %}
            <div class="sidebar-widget-empty">
                <h3 class="sidebar-widget-title">
                    <a href="/charts/upvoted/date/{{ today }}">Most Upvoted Today</a>
                </h3>
                <ul class="sidebar-list">
                    {% for m in voted_rows %}
                        <div class="card card-media">
                            <div class="card-media-time">
                                {{ m.vote_count|comma }} votes
                            </div>
                            {{ links.thumbnail(m, "card-media-thumbnail") }}
                            {{ links.media(m, "card-media-title smaller") }}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if top_media|length > 0 %}
            <div class="sidebar-widget-empty">
                <h3 class="sidebar-widget-title">
                    <a href="/charts/top/date/{{ today }}">Most Played Today</a>
                </h3>
                <ul class="sidebar-list">
                    {% for m in top_media %}
                        <div class="card card-media">
                            <div class="card-media-time">
                                {{ m.cnt|comma }} plays
                            </div>
                            {{ links.thumbnail(m, "card-media-thumbnail") }}
                            {{ links.media(m, "card-media-title smaller") }}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="sidebar-widget">
            <h3>Notable Quotes</h3>
            <ul class="sidebar-list">
                <li>
                    JacobDicky: if i wa s lockm smtih, hw eaxtaly wwpuld i make the ke to ouru heeat?
                </li>
                <li>
                    SalmonBaconator: i just always pictured Toto as like a black Freddie Mercury
                </li>
            </ul>
        </div>
    </div>
{% endblock %}