{% import "macros/links.html.twig" as links %}
{% macro video_block(title, videos, title_url) %}
    {% if videos|length >= 6 %}
        <div class="row thumbnails-row">
            <div class="col-sm-12">
                {% if title_url %}
                    <h4 class="sidebar-widget-title">
                        <a href="{{ title_url }}">{{ title }}</a>
                    </h4>
                {% else %}
                    <h4 class="sidebar-widget-title">{{ title }}</h4>
                {% endif %}
            </div>
            {% for video in videos %}
                <div class="col-xs-6 col-sm-4 col-md-3 thumbnail-channel">
                    <a href="{{ video|media_url }}" class="thumbnail thumbnail-short card">
                        <div class="crop">
                            <img src="{{ video|thumbnail_url("hqdefault") }}" alt="Thumbnail">
                        </div>
                        <div class="thumbnail-channel-playing">
                            {{ video.title|truncate(75) }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
{% extends "layout_home.html.twig" %}
{% block content %}
    <div class="col-lg-12 col-md-12" style="margin-top: 20px;">
        <div class="row" style="margin-bottom: 40px;">
            <div class="col-sm-12">
                <h1 class="sidebar-widget-title">Music Channels</h1>
                <p>Click to join other users in a channel.</p>
            </div>
            {% for chan in channels %}
                <div class="col-xs-12 col-sm-4 col-md-3 thumbnail-channel">
                    <a href="/r/{{ chan.name }}" class="thumbnail card">
                        <img src="{{ chan.thumbnail }}" alt="Thumbnail">

                        <div class="thumbnail-channel-title center">
                            {{ chan.pagetitle|truncate(25) }}
                        </div>
                        <div class="thumbnail-channel-playing center">
                            {{ chan.mediatitle|truncate(75) }}
                        </div>
                        <div class="thumbnail-channel-users">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ chan.usercount }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        {{ video_block("Recently Played", recent_media, "/charts/history") }}
        {{ video_block("Most Played Today", top_media, "/charts/top/date/" + today) }}
        {{ video_block("Most Upvoted Today", voted_rows, "/charts/upvoted/date/" + today) }}
        {{ video_block("Most Played in Lobby", most_watched.lobby, "/r/lobby") }}
        {{ video_block("Most Played in K-Pop", most_watched.kpop, "/r/kpop") }}
    </div>
{% endblock %}