{% import "macros/links.html.twig" as links %}
{% set container_fluid = true %}
{% set container_remove_padding = true %}
{% extends "layout.html.twig" %}
{% block content %}
    <div id="tracks">
        <div class="header-graphic"></div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

            <div class="timeline">
                <h1>
                    <form method="get" action="/charts/history/search">
                        <input id="playlist-history-search-input" name="q" type="text" class="form-control input-sm" placeholder="Search.." />
                    </form>
                    Recently Played{% if page != 1 %} &middot; Page {{ page }}{% endif %}
                </h1>
                {% for m in media %}
                    <div class="card card-media">
                        <div class="card-media-time" data-time="{{ m.time }}">
                            {{ m.time|fromNow }}{% if m.channel %}<br /><a href="/r/{{ m.channel }}">/r/{{ m.channel }}</a>{% endif %}
                        </div>
                        {{ links.thumbnail(m, "card-media-thumbnail") }}
                        {{ links.media(m, "card-media-title") }}

                        <div class="card-media-common">
                            Played by <a href="/user/{{ m.user }}">{{ m.user }}</a>.
                        </div>
                        
                        {% include "voting.html.twig" %}
                    </div>
                {% endfor %}
            </div>

            <nav>
                <ul class="pager">
                    {% if page == 1 %}
                        <li class="previous disabled">
                            <a href="#"><span aria-hidden="true">&larr;</span> Newer</a>
                        </li>
                    {% else %}
                        <li class="previous">
                            <a href="/charts/history/{{ page - 1 }}"><span aria-hidden="true">&larr;</span> Newer</a>
                        </li>
                    {% endif %}
                    {% if page == pages %}
                        <li class="next disabled">
                            <a href="#">Older <span aria-hidden="true">&rarr;</span></a>
                        </li>
                    {% else %}
                        <li class="next">
                            <a href="/charts/history/{{ page + 1 }}">Older <span aria-hidden="true">&rarr;</span></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}