{% import "macros/links.html.twig" as links %}
{% set container_fluid = true %}
{% set container_remove_padding = true %}
{% extends "layout.html.twig" %}
{% block content %}
    <div id="tracks">
        <div class="header-graphic"></div>
        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-2">
            <ul class="timeline-sidebar-list">
                {% for ch in channels %}
                    <li>
                        <a href="/charts/top/r/{{ ch }}">/r/{{ ch }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="timeline-sidebar-list">
                {% for d in dates %}
                    <li>
                        {% if channel %}
                            <a href="/charts/top/r/{{ channel }}/date/{{ d.short }}">{{ d.full }}</a>
                        {% else %}
                            <a href="/charts/top/date/{{ d.short }}">{{ d.full }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            
            <div class="timeline">
                <h1>
                    <img src="/img/equalizer.gif" /> {{ headTitle }}
                </h1>
                {% if media|length == 0 %}
                    <div class="card card-media">
                        <div class="profile-empty">
                            Nothing played for channel and date.
                        </div>
                    </div>
                {% else %}
                    {% for m in media %}
                        <div class="card card-media">
                            <div class="card-media-time" data-time="{{ m.time }}">
                                {{ m.cnt|comma }} plays
                            </div>
                            {{ links.thumbnail(m, "card-media-thumbnail") }}
                            {{ links.media(m, "card-media-title") }}
                            
                            <div class="card-media-common">
                                Played by <a href="/user/{{ m.user }}">{{ m.user }}</a> and <a href="/tracks/{{ m.media_id }}/{{ m.title|urlencode }}">others</a>.
                            </div>
    
                            {% include "voting.html.twig" %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>
    </div>
{% endblock %}