{% import "macros/links.html.twig" as links %}
{% set container_fluid = true %}
{% set container_remove_padding = true %}
{% extends "layout.html.twig" %}
{% block content %}
    <div id="tracks">
        <div class="header-graphic"></div>
        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-2">
            <ul class="timeline-sidebar-list">
                {% for d in dates %}
                    <li>
                        <a href="/charts/upvoted/date/{{ d.short }}">{{ d.full }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4 ">

            <div class="timeline">
                <h1><img src="/img/equalizer.gif" /> {{ headTitle }}</h1>
                {% for m in media %}
                    <div class="card card-media">
                        <div class="card-media-time" data-time="{{ m.time }}">
                            {{ m.vote_count|comma }} upvotes
                        </div>
                        {{ links.thumbnail(m, "card-media-thumbnail") }}
                        {{ links.media(m, "card-media-title") }}

                        {% include "voting.html.twig" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}