{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        {% if pageSuccess %}
            <div class="alert alert-success" role="alert">{{ pageSuccess }}</div>
        {% endif %}
        {% if pageError %}
            <div class="alert alert-danger" role="alert">{{ pageError }}</div>
        {% endif %}
        
        <h1>Contact</h1>
        <form method="post" action="/contact" style="margin-bottom: 20px;">
            <div class="form-group{% if errors.email %} has-error{% endif %}">
                <label for="form-email">Email</label>
                {% if errors.email %}
                    <div class="invalid">{{ errors.email }}</div>
                {% endif %}
                <input type="email" name="email" class="form-control" id="form-email" value="{{ fields.email }}" required>
            </div>
            <div class="form-group{% if errors.name %} has-error{% endif %}">
                <label for="form-name">Name</label>
                {% if errors.name %}
                    <div class="invalid">{{ errors.name }}</div>
                {% endif %}
                <input type="text" name="name" class="form-control" id="form-name" value="{{ fields.name }}" required>
            </div>
            <div class="form-group{% if errors.message %} has-error{% endif %}">
                <label for="form-message">
                    Message
                </label>
                {% if errors.message %}
                    <div class="invalid">{{ errors.message }}</div>
                {% endif %}
                <textarea id="form-message" name="message" class="form-control" rows="10" required>{{ fields.message }}</textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>  
    </div>
{% endblock %}