{% macro media(uid, type, title, class='') %}
    {% if type == "yt" %}
        <a href="http://youtube.com/watch?v={{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% elif type == "sc" %}
        <a href="{{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% elif type == "vi" %}
        <a href="http://vimeo.com/{{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% elif type == "dm" %}
        <a href="http://dailymotion.com/video/{{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% elif type == "li" %}
        <a href="http://livestream.com/{{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% elif type == "tw" %}
        <a href="http://twitch.tv/{{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% elif type == "im" %}
        <a href="http://imgur.com/a/{{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% elif type == "us" %}
        <a href="http://ustream.tv/{{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% elif type == "gd" %}
        <a href="https://docs.google.com/file/d/{{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% elif type == "hb" %}
        <a href="http://hitbox.tv/{{ uid }}" target="_blank" class="{{ class }}">{{ title }}</a>
    {% else %}
        {{ title }}
    {% endif %}
{% endmacro %}