{% import "macros/links.html.twig" as links %}

{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <h3>Playlist History</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Channel</th>
                    <th>Queued By</th>
                </tr>
            </thead>
            <tbody>
                {% for m in media %}
                    <tr>
                        <td>
                            {{ links.media(m) }}
                        </td>
                        <td>
                            <a href="/r/{{ m.channel }}">
                                /r/{{ m.channel }}
                            </a>
                        </td>
                        <td>
                            <a href="/user/{{ m.user }}">
                                {{ m.user }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav>
            <ul class="pager">
                {% if page == 1 %}
                    <li class="previous disabled">
                        <a href="#"><span aria-hidden="true">&larr;</span> Newer</a>
                    </li>
                {% else %}
                    <li class="previous">
                        <a href="/playlists/history/{{ page - 1 }}"><span aria-hidden="true">&larr;</span> Newer</a>
                    </li>
                {% endif %}
                {% if page == pages %}
                    <li class="next disabled">
                        <a href="#">Older <span aria-hidden="true">&rarr;</span></a>
                    </li>
                {% else %}
                    <li class="next">
                        <a href="/playlists/history/{{ page + 1 }}">Older <span aria-hidden="true">&rarr;</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}