<div id="profile-info">
    {% if user.profile.image %}
        <img src="{{ user.profile.image }}" class="profile-avatar" />
    {% endif %}
    <h1 id="profile-name">
        {{ user.name }}
    </h1>
    {% if user.profile.text %}
        <p class="profile-tagline">{{ user.profile.text }}</p>
    {% endif %}
    <ul id="profile-stats">
        <li>{{ media_count }} Plays</li>
        <li>{{ likes }} Likes</li>
    </ul>
    {% if user.profile.bio %}
        <div id="profile-bio">{{ user.profile.bio|nl2p|safe }}</div>
    {% endif %}
</div>