<div id="profile-info">
    {# avatar #}
    <div id="profile-avatar-wrap">
        {% if user.profile.image %}
            <img src="{{ user.profile.image }}" id="profile-avatar" />
        {% else %}
            <img src="/img/avatar.gif" id="profile-avatar" />
        {% endif %}

        {% if loggedIn and loginName == user.name %}
            <div id="profile-avatar-edit" style="display: none">
                <span id="profile-avatar-edit-icon" class="glyphicon glyphicon-picture">
                    <img src="/img/spinner.gif" id="profile-avatar-edit-spinner" class="profile-ajax-spinner" style="display: none" />
                </span>
                
                <div class="btn-group">
                    <button id="profile-avatar-edit-upload-btn" class="btn btn-default btn-sm btn-upload">Upload</button>
                    <button id="profile-avatar-edit-remove-btn" class="btn btn-default btn-sm btn-upload">Remove</button>
                </div>
                <form id="profile-avatar-edit-form" enctype="multipart/form-data" style="width: 0; height: 0;">
                    <input id="profile-avatar-edit-file" type="file" name="avatar" style="width: 0; height: 0;" />
                </form>
            </div>
        {% endif %}
    </div>
    
    <div id="profile-info-face">
        {# name #}
        <h1 id="profile-name">
            {{ user.name }}
        </h1>
        
        {# tagline #}
        <p id="profile-tagline">{{ user.profile.text }}</p>
        {% if loggedIn and loginName == user.name %}
            <input
                type="text"
                class="profile-edit-control"
                id="profile-tagline-edit"
                value="{{ user.profile.text }}"
                maxlength="{{ input_maxes.text }}"
                placeholder="Tagline"
                style="display: none;" />
        {% endif %}
    </div>

    {# location #}
    <div id="profile-location">{{ user.profile.location }}</div>
    {% if loggedIn and loginName == user.name %}
        <input
            type="text" 
            id="profile-location-edit" 
            class="profile-edit-control" 
            value="{{ user.profile.location }}"
            maxlength="{{ input_maxes.location }}"
            placeholder="Location" style="display: none;" />
    {% endif %}

    {# website #}
    {% if user.profile.website %}
        <a href="{{ user.profile.website }}" id="profile-website" target="_blank">
            {{ user.profile.website|truncate(50) }}
        </a>
    {% else %}
        <div id="profile-website"></div>
    {% endif %}
    {% if loggedIn and loginName == user.name %}
        <input 
            type="text" 
            id="profile-website-edit" 
            class="profile-edit-control" 
            value="{{ user.profile.website }}"
            maxlength="{{ input_maxes.website }}" 
            placeholder="Website" style="display: none;" />
    {% endif %}
    
    {# stats #}
    <ul id="profile-stats">
        <li>{{ media_count|comma }} Plays</li>
        <li>{{ likes|comma }} Likes</li>
    </ul>
    
    {# bio #}
    <div id="profile-bio">{{ user.profile.bio|nl2p|safe }}</div>
    {% if loggedIn and loginName == user.name %}
        <textarea id="profile-bio-edit" class="profile-edit-control" maxlength="{{ input_maxes.bio }}" style="display: none">{{ user.profile.bio }}</textarea>
    {% endif %}
    
    {% if loggedIn and loginName == user.name %}
        <button id="profile-edit-btn" class="btn btn-default btn-upload">Edit</button>
        <button id="profile-cancel-btn" class="btn btn-default btn-upload" style="display: none;">Cancel</button>
    {% endif %}
</div>