{% import "links.html.twig" as links %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th style="width: 40%">Date</th>
        </tr>
    </thead>
    <tbody>
    {% for m in media %}
        <tr>
            <td>
                {{ links.media(m.uid, m.type, m.title) }}
            </td>
            <td>
                {{ m.time|date("dddd, MMMM Do YYYY, h:mm a") }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pager">
        {% if page == 1 %}
            <li class="previous disabled">
                <a href="#"><span aria-hidden="true">&larr;</span> Newer</a>
            </li>
        {% else %}
            <li class="previous">
                <a href="/user/{{ user.name }}/{{ page - 1 }}"><span aria-hidden="true">&larr;</span> Newer</a>
            </li>
        {% endif %}
        {% if page == pages %}
            <li class="next disabled">
                <a href="#">Older <span aria-hidden="true">&rarr;</span></a>
            </li>
        {% else %}
            <li class="next">
                <a href="/user/{{ user.name }}/{{ page + 1 }}">Older <span aria-hidden="true">&rarr;</span></a>
            </li>
        {% endif %}
    </ul>
</nav>