{% extends "layout_channel.html.twig" %}
{% block content %}
    {% include "nav/default.html.twig" %}
    <div id="channel-mount" data-join="{{ channelName }}"></div>
    <script>
        window.channel = {
            users: {{ channelData.users|safe }},
            buffer: {{ channelData.chatbuffer|safe }},
            playlist: {{ channelData.playlist|safe }},
            emotes: {{ channelData.emotes|safe }},
            filters: {{ channelData.filters|safe }},
            css: {{ channelData.css|safe }},
            js: {{ channelData.js|safe }}
        }
    </script>
{% endblock %}