{% macro lcheckbox(id, label) %}
    <div class="form-group">
        <label class="control-label col-sm-4" for="{{ id }}">{{ label }}</label>
        <div class="col-sm-8">
            <div class="checkbox">
                <input type="checkbox" id="{{ id }}" />
            </div>
        </div>
    </div>
{% endmacro %}

{% macro rcheckbox(id, label) %}
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
            <div class="checkbox">
                <label for="{{ id }}">
                    <input type="checkbox" id="{{ id }}" />
                    {{ label }}
                </label>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro textbox(id, label, placeholder) %}
    <div class="form-group">
        <label class="control-label col-sm-4" for="{{ id }}">{{ label }}</label>
        <div class="col-sm-8">
            {% if placeholder %}
                <input class="form-control" id="{{ id }}" type="text" placeholder="{{ placeholder }}" />
            {% else %}
                <input class="form-control" id="{{ id }}" type="text" />
            {% endif %}
        </div>
    </div>
{% endmacro %}

<div id="useroptions" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>User Preferences</h4>
                <ul id="user-options-tabs" class="nav nav-tabs">
                    <li>
                        <a href="#us-chat" data-toggle="tab">
                            <span class="glyphicon glyphicon-comment"></span>
                            Chat
                        </a>
                    </li>
                    <li>
                        <a href="#us-playback" data-toggle="tab">
                            <span class="glyphicon glyphicon-facetime-video"></span>
                            Playback
                        </a>
                    </li>
                    <li id="us-user-emotes-tab">
                        <a href="#us-user-emotes" data-toggle="tab">
                            <span class="glyphicon glyphicon-sunglasses"></span>
                            Emotes
                        </a>
                    </li>
                    <li id="us-scripting-tab">
                        <a href="#us-scripting" data-toggle="tab">
                            <span class="glyphicon glyphicon-flash"></span>
                            Scripting
                        </a>
                    </li>
                    <li>
                        <a href="#us-mod" data-toggle="tab" style="">
                            <span class="glyphicon glyphicon-cog"></span>
                            Moderator
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div id="user-options-panes" class="tab-content">
                    <!-- Chat preferences -->
                    <div id="us-chat" class="tab-pane">
                        <h4>Chat Preferences</h4>
                        <form class="form-horizontal" action="javascript:void(0)">
                            {{ rcheckbox("us-chat-colors", "Show colors in chat") }}
                            {{ rcheckbox("us-chat-timestamp", "Show timestamps in chat") }}
                            {{ rcheckbox("us-chat-joins", "Show join messages in chat") }}
                            {{ rcheckbox("us-chat-notices", "Show notices in chat") }}
                            {{ rcheckbox("us-sort-rank", "Sort userlist by rank") }}
                            {{ rcheckbox("us-sort-afk", "Sort AFKers to bottom") }}
                            {{ rcheckbox("us-sendbtn", "Add a send button to chat") }}
                            {{ rcheckbox("us-no-emotes", "Disable chat emotes") }}
                            {{ rcheckbox("us-no-channelcss", "Ignore Channel CSS") }}
                            {{ rcheckbox("us-no-channeljs", "Ignore Channel Javascript") }}
                            {{ rcheckbox("us-hide-channelbg", "Hide Channel Background") }}
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <p class="text-info">
                                    The following 2 options apply to how and when you will be notified if a new chat
                                    message is received while upnext.fm is not the active window.
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="us-blink-title">Blink page title on new messages</label>
                                <div class="col-sm-8">
                                    <select id="us-blink-title" class="form-control">
                                        <option value="never">Never</option>
                                        <option value="onlyping">Only when I am mentioned or PMed</option>
                                        <option value="always">Always</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="us-ping-sound">Notification sound on new messages</label>
                                <div class="col-sm-8">
                                    <select id="us-ping-sound" class="form-control">
                                        <option value="never">Never</option>
                                        <option value="onlyping">Only when I am mentioned or PMed</option>
                                        <option value="always">Always</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Playback preferences -->
                    <div id="us-playback" class="tab-pane">
                        <h4>Playback Preferences</h4>
                        <form class="form-horizontal" action="javascript:void(0)">
                            {{ rcheckbox("us-synch", "Synchronize video playback") }}
                            {{ textbox("us-synch-accuracy", "Synch threshold (seconds)", "2") }}
                            {{ rcheckbox("us-wmode-transparent", "Set wmode=transparent") }}
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <p class="text-info">
                                    Setting <code>wmode=transparent</code> allows objects to be displayed above the
                                    video player, but may cause performance issues on some systems.
                                </p>
                            </div>
                            {{ rcheckbox("us-hidevideo", "Remove the video player") }}
                            {{ rcheckbox("us-playlistbuttons", "Hide playlist buttons by default") }}
                            {{ rcheckbox("us-oldbtns", "Old style playlist buttons") }}
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="us-default-quality">Quality Preference</label>
                                <div class="col-sm-8">
                                    <select id="us-default-quality" class="form-control">
                                        <option value="auto">Auto</option>
                                        <option value="240">240p</option>
                                        <option value="360">360p</option>
                                        <option value="480">480p</option>
                                        <option value="720">720p</option>
                                        <option value="1080">1080p</option>
                                        <option value="best"> Highest Available</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <!-- User emotes -->
                    <div id="us-user-emotes" class="tab-pane">
                        <h4>Your Emotes</h4>
                        <form class="form-horizontal" action="javascript:void(0)">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="cs-uploads-file">Emote text</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="20" />
                                    <p class="text-muted">
                                        Text used to activate the emote. For example <code>:smile:</code> or <code>:face:</code>. 20 chars max.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="cs-uploads-file">Upload file</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="cs-uploads-file" type="file" accept="image/*" />
                                    <p class="text-muted">
                                        File types: jpg, gif, png. 500k max file size.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="cs-uploads-url">Or file URL</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="cs-uploads-url" type="text" maxlength="255" />
                                    <p class="text-muted">
                                        Instead of uploading a file, you can provide the URL of a image file on
                                        the web. File types: jpg, gif, png. 500k max file size.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button class="btn btn-primary" type="button">Upload</button>
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>Delete</th>
                                <th>Text</th>
                                <th>Image</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <!-- Scripting -->
                    <div id="us-scripting" class="tab-pane">
                        <div id="user-scripting-buttons">
                            <button id="user-scripting-expand-btn" class="btn btn-info pull-right" title="Full screen">
                                <span class="glyphicon glyphicon-resize-full"></span>
                            </button>
                            <button id="user-scripting-create-btn" class="btn btn-info">
                                <span class="glyphicon glyphicon-file"></span>
                                New Script
                            </button>
                            <button id="user-scripting-install-btn" class="btn btn-info">
                                <span class="glyphicon glyphicon-download-alt"></span>
                                Install Script
                            </button>
                            <button id="user-scripting-browse-btn" class="btn btn-info">
                                <span class="glyphicon glyphicon-globe"></span>
                                Browse Scripts
                            </button>
                            <button id="user-scripting-safe-mode-btn" class="btn btn-info">
                                <span class="glyphicon glyphicon-off"></span>
                                Safe Mode
                            </button>
                            <button id="user-scripting-help-btn" class="btn btn-info" title="User Scripting Help">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                Help
                            </button>
                        </div>
                        
                        <div id="user-scripting-import-container" style="display: none;">
                            <input type="text" class="form-control" placeholder="https://scripts.upnext.fm" />
                        </div>
                        
                        <ul id="user-scripting-tabs" class="nav nav-tabs" role="tablist">
                            <li id="user-scripting-tab-default" role="presentation" class="active">
                                <a href="#user-script-pane-default" aria-controls="user-script-pane-default" role="tab" data-toggle="tab">Default</a>
                            </li>
                        </ul>
                        <div id="user-scripting-panes" class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="user-script-pane-default">
                                <textarea class="form-control user-scripting-textarea" rows="20" data-name="Default"></textarea>
                            </div>
                        </div>

                        <div id="user-scripting-modal-footer" class="modal-footer" style="display: none;">
                            <button class="btn btn-primary btn-scripting-save-btn" type="button" data-dismiss="modal" onclick="ChatAPI._saveUserScripts(true)">Save</button>
                            <button class="btn btn-default btn-scripting-close-btn" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                    <!-- Moderator preferences -->
                    <div id="us-mod" class="tab-pane">
                        <h4>Moderator Preferences</h4>
                        <form class="form-horizontal" action="javascript:void(0)">
                            {{ rcheckbox("us-modflair", "Show name color") }}
                            {{ rcheckbox("us-joinmessage", "Show join messages") }}
                            {{ rcheckbox("us-shadowchat", "Show shadowmuted messages") }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-scripting-save-btn" type="button" data-dismiss="modal" onclick="saveUserOptions()">Save</button>
                <button class="btn btn-default btn-scripting-close-btn" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>