{% if loggedIn %}
    <form id="logoutform" class="navbar-form navbar-right" action="{{ loginDomain }}/logout" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="dest" value="{{ loginDomain }}/" />
        <span id="welcome"><a href="/user/{{ loginName }}" target="_blank">{{ loginName }}</a></span>
        <span>&nbsp;·&nbsp;</span>
        <button id="logout" class="btn btn-default navbar-link" type="submit">Log out</button>
    </form>
{% else %}
    <form id="loginForm" class="navbar-form navbar-right" action="{{ loginDomain }}/login" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="dest" value="{{ loginDomain }}/" />
        <input type="hidden" name="remember" value="1" />
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Username" />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" />
        </div>
        <button id="login" class="btn btn-default navbar-link" type="submit">Login</button>
        <button id="register-button" class="btn btn-default navbar-link" onclick="document.location = '/register'; return false;">Register</button>
    </form>
{% endif %}