{% if loggedIn %}
    <form id="logoutform" class="navbar-text pull-right" action="{{ loginDomain }}/logout" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="dest" value="{{ loginDomain }}/" />
        <span id="welcome">{{ loginName }}</span>
        <span>&nbsp;·&nbsp;</span>
        <input id="logout" type="submit" value="Log out" class="navbar-link" />
    </form>
{% else %}
    <form id="loginForm" class="navbar-form navbar-right" action="{{ loginDomain }}/login" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="dest" value="{{ loginDomain }}/" />
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Username" />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" />
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" />
                    <span class="navbar-text-nofloat">Remember Me</span>
                </label>
            </div>
        </div>
        <button id="login" class="btn btn-default" type="submit">Login</button>
    </form>
{% endif %}