{% if loggedIn %}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="/user/{{ loginName }}" id="navbar-avatar-link" data-toggle="dropdown">
                <span id="navbar-username" class="hidden-xs">{{ loginName }}</span>
                <img id="navbar-avatar" src="{{ loginAvatar }}" />
            </a>
            <ul class="dropdown-menu pull-right" style="margin-right: 15px;">
                <li>
                    <a href="{{ loginDomain }}/user/{{ loginName }}"{% if channelName %} target="_blank"{% endif %}>Profile</a>
                </li>
                <li>
                    <a href="{{ loginDomain }}/user/{{ loginName }}/favorites"{% if channelName %} target="_blank"{% endif %}>Favorites</a>
                </li>
                <li role="separator" class="divider"></li>
                {% if isSuperAdmin %}
                    <li>
                        <a href="{{ loginDomain }}/admin"{% if channelName %} target="_blank"{% endif %}>Admin</a>
                    </li>
                    <li role="separator" class="divider"></li>
                {% endif %}
                <li>
                    <a href="{{ loginDomain }}/account/channels"{% if channelName %} target="_blank"{% endif %}>Your Channels</a>
                </li>
                <li>
                    <a href="{{ loginDomain }}/account/edit"{% if channelName %} target="_blank"{% endif %}>Account Settings</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ loginDomain }}/logout">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
{% else %}
    <div class="navbar-form navbar-right">
        <button id="login-button" class="btn btn-default navbar-link" onclick="document.location = '/login'; return false;">Login</button>
        <button id="register-button" class="btn btn-default navbar-link" onclick="document.location = '/register'; return false;">Register</button>
    </div>
{% endif %}